<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inmobihack.smartnotes">

    <!-- TODO: Permissions (Grant automatically or run-time) -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RecordingActivityEmpty"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name">

            <!-- android:theme="@style/FullscreenTheme"> -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListNotesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_list_notes_acitivity"
            android:parentActivityName=".RecordingActivityEmpty"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inmobihack.smartnotes.SaveSummaries" />
        </activity>
        <activity android:name=".SummaryActivity"
            android:parentActivityName=".RecordingActivityEmpty" />
        <activity
            android:name=".ViewSummaryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_summary"
            android:parentActivityName=".RecordingActivityEmpty"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inmobihack.smartnotes.RecordingActivityEmpty" />
        </activity>
        <activity
            android:name=".SaveSummaries"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_view_summary"
            android:parentActivityName=".RecordingActivityEmpty"
            android:theme="@style/FullscreenTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="inmobihack.smartnotes.RecordingActivityEmpty" />
        </activity>
    </application>

</manifest>
